<bs-footer class="footer">
  <div class="container-fluid small">
    <span class="text-muted">CorpusTracer is based on <a href="https://bitbucket.org/metaphacts/metaphacts-community">Metaphacts Open Source Platform</a>. It has been developed within <a href="http://sphaera.mpiwg-berlin.mpg.de">The Sphere</a> project at the <a href="http://www.mpiwg-berlin.mpg.de">Max Planck Institute for the History of Science</a></span>
  </div>
</bs-footer>
