<title>Sphaera</title>
<link href="{{assetsMap.basic_styling}}" rel="stylesheet" title="Default Style">
<link href="/assets/override-default.css" rel="stylesheet" type="text/css">
<link href="/assets/styles.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,500,500i&display=swap" rel="stylesheet">
