<div class="thumbnail hover" style="position:relative;">
  <div style="height:300px;max-height:300px;overflow:hidden;display:table;">
    <semantic-link
      iri="[[resolvePrefix ":viewElement"]]"
      urlqueryparam-elementiri="{{subject.value}}"
      style="display:table-cell;vertical-align:middle"
      >
      {{#if imageIIIFUrlBeforeSize.value}}
        <img style="max-height:300px;" src="{{imageIIIFUrlBeforeSize.value}}/!300,300/0/default.jpg" />
      {{/if}}
    </semantic-link>
  </div>
  <div class="caption" style="position:absolute;bottom:0;left:0;background:rgba(255,255,255,0.75);">
    {{label.value}} ({{num_regions.value}})
  </div>
</div>
