[[> :header]]

<ol class="page-breadcrumb">
  [[> :templateBreadcrumb iri=(resolvePrefix ":Start") label="Home"]]
  [[> :templateBreadcrumb iri=(resolvePrefix ":listBooks") label="Books"]]
  [[> :templateBreadcrumbEditResource bookiri="true" tab="parts"]]
</ol>

<h2>Edit part of book</h2>

[[#if (urlParam "attributeassignmentiri")]]
  [[#if (urlParam "bookiri")]]
    <semantic-query
      query='SELECT ?book_name WHERE { ?book ecrm:P3_has_note ?book_name . BIND(<[[urlParam "bookiri"]]> as ?book ) }'
      template='<p>Use this form to assign a part fragment to the book {{#each bindings}} {{book_name.value}} {{/each}}</p>'
      >
     </semantic-query>

    <semantic-form
        fields="[[fieldDefinitions
          note="http://sphaera.mpiwg-berlin.mpg.de/instances/fields/note"
          part="http://sphaera.mpiwg-berlin.mpg.de/instances/fields/part"
          pageFrom="http://sphaera.mpiwg-berlin.mpg.de/instances/fields/part_page_from"
          pageTo="http://sphaera.mpiwg-berlin.mpg.de/instances/fields/part_page_to"
          record_type="http://sphaera.mpiwg-berlin.mpg.de/instances/fields/attribute_assignment_record_type"
        ]]"
        browser-persistence="false"
        persistence="LDP"
        post-action="[[urlParam "bookiri"]]"
        urlqueryparam-tab="parts"
        subject="[[urlParam "attributeassignmentiri"]]"
      >
      <div style="margin-bottom:2em">
        <semantic-form-select-input for="part"></semantic-form-select-input>
        <semantic-query
          query='SELECT ?part WHERE { <[[urlParam "attributeassignmentiri"]]> ecrm:P141_assigned ?part} LIMIT 1'
          template='{{#each bindings}}
            <semantic-link iri="{{part.value}}"
              urlqueryparam-returniri="http://sphaera.mpiwg-berlin.mpg.de/resource/editPartInBook"
              urlqueryparam-bookiri="[[urlParam "bookiri"]]"
              urlqueryparam-attributeassignmentiri="[[urlParam "attributeassignmentiri"]]">
              Edit Part</semantic-link>{{/each}}'
        ></semantic-query>

      </div>

      <semantic-form-text-input for="pageFrom"></semantic-form-text-input>
      <semantic-form-text-input for="pageTo"></semantic-form-text-input>
      <semantic-form-text-input for="note"></semantic-form-text-input>

      <div class="disabled hidden-field">
        <semantic-form-text-input for="record_type"></semantic-form-text-input>
      </div>

      <div class="text-right form-submit">
        <semantic-link iri="[[urlParam "bookiri"]]" urlqueryparam-tab="parts" class="btn btn-default btn-md">Cancel</semantic-link>
        <button name="submit" class="btn btn-primary btn-md">Save</button>
      </div>
    </semantic-form>

    [[> :modalAddAnnotationToBook resourceiri="bookiri"]]

  [[else]]
  	No book has been selected. This form needs to be accessed via a book record.
  [[/if]]
[[else]]
	No part has been selected. This form needs to be accessed via a book record.
[[/if]]

[[> :footer]]
