<div>
  <a
    class="btn btn-primary"
    href="mailto:valleriani@mpiwg-berlin.mpg.de?subject=Sphaera%20Database&body=%0D%0A%0D%0A==================================%0D%0APlease write your message above this line and leave the following information intact%0D%0A%0D%0AURI: [[this]]%0D%0A[[#if (urlParam "bookiri")]]Book: [[urlParam "bookiri"]]%0D%0A[[/if]][[#if (urlParam "partiri")]]Part: [[urlParam "partiri"]]%0D%0A[[/if]][[#if (urlParam "personiri")]]Person: [[urlParam "personiri"]]%0D%0A[[/if]][[#if (urlParam "placeiri")]]Place: [[urlParam "placeiri"]]%0D%0A[[/if]][[#if (urlParam "languageiri")]]Language: [[urlParam "languageiri"]]%0D%0A[[/if]]">Give Feedback</a>
</div>
